{% extends 'layout.html' %}

{% block title %}NEW NOTE{% endblock %}

{% block actions %}
    <a href="{% url 'notes:index' %}"class="btn btn-secondary px-4">Back</a>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-4">
            <form method="POST" action="{% url 'notes:create' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn px-5 btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}