{% extends 'layout.html' %}
{% load static %}

{% block title %}<span class="text-shadow text-white">NEW NOTE</span>{% endblock %}

{% block style %}
    {{ block.super }}
    <link href="{% static 'notes/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="POST"
                  class="bg-white p-5 rounded-3 shadow"
                  action="{% if note_pk %}{% url 'notes:update' note_pk %}{% else %}{% url 'notes:create' %}{% endif %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn px-5 btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}