{% extends 'layout.html' %}

{% block title %}MY NOTES{% endblock %}


{% block actions %}
    <a href="{% url 'notes:create' %}"class="btn btn-primary px-4">Create</a>
{% endblock %}

{% block content %}
    <div class="row row-cols-3">

        {% for item in items %}
            <div class="col">

                <div class="card">
                    {% if item.slug %}
                        <div class="card-header text-truncate">{{ item.slug }}</div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ item.title }}</h4>
                        <p class="card-text">{{ item.text }}</p>
                        <p class="card-text">
                            <small class="text-muted">{{ item.created_at }}</small>
                        </p>
                    </div>
                    <div class="card-footer note-footer">
                        <a href="{% url 'notes:update' item.id %}" class="btn px-3 d-block btn-primary">Edit</a>
                        <a href="{% url 'notes:destroy' item.id %}"
                           class="btn btn-outline-danger px-3"
                           onclick="return confirm('Are you sure ?')">
                            Delete
                        </a>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>
{% endblock %}