html {
    height: 100%;
    /*background: #959FA8;*/
    /*background: #e6dada;*/
    background: #bdc3c7;

    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    /*background: linear-gradient(to bottom, #4b79a1, #283e51);*/
    background: linear-gradient(130deg, #e6dada, #8e9eab 60%, #274046 110%);
    /*background: linear-gradient(130deg, #bdc3c7, #2c3e50);*/
    height: 100%;
}

.card-shadow {
    box-shadow: 0 6px 10px 1px rgba(0,0,0, .25);
}
.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.errorlist {
    color: var(--bs-danger);
    padding-left: 15px;
}

.lobster {
    font-family: 'Lobster', cursive;
}
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0, .5);
}
.text-shadow-sm {
    text-shadow: 2px 2px 2px rgba(0,0,0, .35);
}

.home-link {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 5rem;
    color: #fff;
    padding: 3rem;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0,0,0, .45);
    transition: .35s color ease-in-out, .35s opacity ease-out, .35s text-shadow ease-in-out;
    visibility: hidden;
    /*border-bottom: 3px dashed #f8f9fa;*/
}
.home-link.hidden {
    opacity: 0;
}
.home-link.shown {
    display: flex;
    visibility: visible;
}
.home-link:hover{
    text-decoration: none;
    color: var(--bs-warning);
    text-shadow: 2px 2px 4px rgba(0,0,0, .75);
}