body {
    /* background: #b3d2b3; */
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.errorlist {
    color: var(--bs-danger);
    padding-left: 15px;
}