{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'notes/img/favicon.png'%}">
    {% block style %}
    <link href="{% static 'notes/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'notes/css/style.css' %}" rel="stylesheet">
    {% endblock %}
    <title>APP</title>
</head>
<body>
<div class="container h-100">
    <div class="row my-3 align-items-start justify-content-center">
        <h1 class="col-auto fw-bolder mb-5">{% block title %}{% endblock %}</h1>
        <div class="col-auto mt-2">{% block actions %}{% endblock %}</div>
    </div>
    {% block content %}{% endblock %}
</div>
{% block script %}
    <script src="{% static 'notes/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
</body>
</html>